body {
    scroll-behavior: smooth;
}


.navbar {
    background-color: whitesmoke !important;
    box-shadow: 0 0px 24px black;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.navbar-brand img {
    height: 4rem;
}

.collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2rem;
}


.upper-nav .btn {
    background-color: #176B87;
    color: #DAFFFB;
    box-shadow: 2px 2px 8px grey;
    padding: .3rem .8rem;
    transition: .2s;
    margin: .4rem 0;
}

.upper-nav .btn:hover {
    background-color: #860101;
    cursor: pointer;
    /* font-weight: 700; */
    transform: scale(1.04);
    box-shadow: 2px 2px 8px rgb(105, 105, 105);
}

.collapse ul li {
    margin: 0 .4rem;
}


.collapse ul li a {
    transition: .2s;
    letter-spacing: 1px;
    font-weight: 600;
}

.collapse ul li a:hover {
    color:#c60000;
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: 0 0 8px gray;
    border: none !important;
}




/* caroesel */


.carousel {
    max-height: 90vh !important;
    min-height: 60vh !important;
    margin-top: 5rem;
    box-shadow: 0 0 12px grey;
    background-color: black;
    position: relative;
}

.carousel-inner {
    max-height: 90vh !important;
    min-height: 60vh !important;
}


.carousel-item {
    min-height: 60vh;
    max-height: 90vh;

}

.carousel-item img {
    min-height: 60vh;
}





.info {
    padding: 4rem 8rem;

}

.info h2 {
    margin-bottom: 3rem;
    font-family: 'Abril Fatface', serif;
    color: #c60000;
    font-size: 6rem;
}


.info p {
    font-size: 1.5rem;
}

.common {
    padding: 4rem 8rem;

}

.common h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 800;
}

.common p {
    font-size: 1.2rem;
}

.common:nth-of-type(odd) {
    background-color:#ebd4d4;
}


/* gallery */


.gallery {
    background-color: white;
    padding: 3rem;
}

.gallery h1 {
    color: #a40000;
    font-size: 8vh;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white, 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white, 20%, white 80%, transparent);
}

.slider .slider-track {
    display: flex;
    gap: 2rem;
    width: calc(20rem * 14);
    animation: slide 15s linear infinite;

}

/* .slider .slider-track:hover{
    animation-play-state: paused;
} */
.slider .slider-track .slide {
    width: 20rem;
    height: 20rem;
    background-size: cover !important;
}

@keyframes slide {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(calc(-20rem*7));
    }
}


/* footer */

footer {
    background-color: #980000;
    padding-bottom: 2rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #980000;
    padding: 3rem 2rem;

}

.footer .contact-us {
    color: #DAFFFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .contact-us .address {
    border-bottom: 1px solid #DAFFFB;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.footer .contact-us .address h3 {
    font-size: 1.5rem;
}

.footer .contact-us .address p {
    font-size: .8rem;
    margin: 0;
}


.footer .contact-us .contacts h3 {
    font-size: 1.3rem;
}

.footer .contact-us .contacts p {
    font-size: .8rem;
    margin: 0;
}

.footer .social-media {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 2rem;
}

.footer .social-media .icons {
    background-color: #5f0101;
    padding: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    text-align: center;
}

.footer .social-media .icons i {
    color: #DAFFFB;
}

footer .line {
    height: 1px;
    background-color: #980000;
    padding: 0 2rem;
}

footer .line .innerline {
    background-color: #DAFFFB;
    height: 100%;
}